﻿
@{
    ViewBag.Title = "admin control panel";
}

@using Ops = Diary.Logic.Operations;

<div class="jumbotron">
    <h2>Admin centre</h2>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createUser">Create a new User</button>
</div>

Users:
<table class="table table-hover">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                username
            </td>
            <td>
                email
            </td>
            <td>
                date created
            </td>
            <td>
                Entries
            </td>
            <td>
                Edit
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Ops.UserOps.getAllUsers())
        {
        <tr>
            <td>
                @user.Id
            </td>
            <td>
                @user.userName
            </td>
            <td>
                @user.email
            </td>
            <td>
                @user.dateCreated.ToString("dd/MMMM/yyyy")
            </td>
            <td>
                @user.diaryEntries.Count()
            </td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@string.Concat("userForm", user.Id)">Edit</button>
            </td>
            <td>
                @Html.ActionLink("Delete", "deleteUser", new { userId = user.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>

@foreach (var user in Ops.UserOps.getAllUsers())
{
    <div class="modal fade" id="@string.Concat("userForm", user.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@user.userName</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="updateUser">
                        <input type="hidden" name="userId" value="@user.Id" />
                        Username: <input class="form-field form-control" type="text" name="newUsername" value="@user.userName" />
                        Password: <input class="form-field form-control" type="password" name="newPassword" value="placeholder" />
                        First Name: <input class="form-field form-control" type="text" name="newfirstname" value="@user.firstName" />
                        Last Name: <input class="form-field form-control" type="text" name="newlastname" value="@user.lastName" />
                         @if (user.isAdmin == true)
                        {
                        <p>Admin rights: </p><input type="checkbox" name="newisadmin" checked="checked" />
                        }
                        else if (user.isAdmin == false)
                        {
                        <p>Admin rights: </p><input type="checkbox" name="newisadmin" />
                        }
                        <input class="form-field form-control" type="submit" name="submitBtn" value="Save!" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create a new user</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="createUser">
                        Username: <input type="text" class="form-control form-field" name="username" />
                        Password: <input type="password" class="form-control form-field" name="password" />
                        Email: <input type="email" class="form-control form-field" name="email" />
                        First Name: <input type="text" class="form-control form-field" name="firstname" />
                        First Name: <input type="text" class="form-control form-field" name="lastname" />
                        Admin Rights? <input type="checkbox" class="form-field" value="true" name="adminrights" />
                        <input class="form-field btn btn-info" type="submit" value="Save!" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>