﻿
@{
    ViewBag.Title = "My Account";
}

<div class="jumbotron">
    <h2>Welcome, @Authentication.AuthenticatedAs.fullName!</h2>
    <h4>Not you? @Html.ActionLink("Log out.", "logOut", "Account", null, null)</h4>
</div>

