﻿
@{
    ViewBag.Title = "Login or Register";
}

<div class="jumbotron">
    <h2>Welcome to Diary!</h2>
</div>
<div class="row">
    <div class="col-xs-6 form-collection">
        Login:
        <form method="post" action="checkCredentials">
            <input type="text" class="form-control form-field" name="username" placeholder="Username..." />
            <input type="password" class="form-control form-field" name="password" placeholder="Password..." />
            <input class="btn btn-info form-field" type="submit" value="Login!" name="submitBtn" />
        </form>
    </div>
    <div class="col-xs-6 form-collection">
        <form method="post" action="registerUser">
            <input type="text" class="form-control form-field" name="firstname" placeholder="First Name" />
            <input type="text" class="form-control form-field" name="lastname" placeholder="Last Name" />
            <input type="email" class="form-control form-field" name="email" placeholder="Email@address.com" />
            <input type="text" class="form-control form-field" name="username" placeholder="Username" />
            <input type="password" class="form-control form-field" name="password" placeholder="Password" />
            <input class="btn btn-info form-field" type="submit" value="Register!" name="submitBtn" />
        </form>
    </div>
</div>

