﻿
@{
    ViewBag.Title = "createEntry";
}

<h2>create an Entry</h2>
    <div class="row">
        <div class="col-xs-12" style="align-self: center">
            <form method="post" action="registerEntry">
                <div class="col-xs-3">
                    <input type="text" class="form-field form-control" name="title" placeholder="Title" />
                    <input type="hidden" name="mood" class="moodValHidden" />

                    <div class="dropdown">
                         <button class="moodDropdown form-field btn btn-info" data-toggle="dropdown" id="moodSelector">What mood are you in? <span class="caret"></span>
                         </button>
                        <ul class="dropdown-menu">
                            <li class="alert-success"><a href="#">Top o' the world!</a></li>
                            <li class="alert-success"><a href="#">Good</a></li>
                            <li class="alert-info"><a href="#">Meh</a></li>
                            <li class="alert-warning"><a href="#">Bad</a></li>
                            <li class="alert-warning"><a href="#">Rubbish</a></li>
                        </ul>
                    </div>

                    <input type="submit" class="btn btn-info form-field" value="Save!" />
                </div>
                <div class="col-xs-9">
                    <textarea name="content" maxlength="5000" class="form-field form-control" style="width: 7000px" cols="100" rows="30"></textarea>
                </div>
            </form>
        </div>
    </div>

<script>
    $(function(){
        $(".dropdown-menu li a").click(function(){
            $(".moodDropdown").text($(this).text());
            $(".moodValHidden").val($(this).text());
        });
    });
</script>

