﻿@{
    ViewBag.Title = "Home Page";
    var entries = Ops.EntryOps.returnEntries(Authentication.AuthenticatedAs.Id);
}

@using Ops = Diary.Logic.Operations;
<div class="jumbotron">
    <h1>Diary</h1>
    <p class="lead">A place where you can store your thoughts, ramblings, and worries</p>
</div>

<div class="row">
    <div class="col-xs-12">
        Diary entries:
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Id
                    </td>
                    <td>
                        Title
                    </td>
                    <td>
                        Mood
                    </td>
                    <td>
                        Date created
                    </td>
                    <td>
                        Last modified
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
            </thead>
            @foreach (var entry in entries)
            {
                <tr>
                    <td>
                        @entry.id
                    </td>
                    <td>
                        @entry.title
                    </td>
                    <td>
                        @entry.mood
                    </td>
                    <td>
                        @entry.dateCreated.Date.ToString("dd/MMMM/yyyy")
                    </td>
                    <td>
                        @entry.LastEdited.Date.ToString("dd/MMMM/yyyy")
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@string.Concat("EntryForm", entry.id)">Edit</button>
                    </td>
                </tr>
            }
        </table>
        @if (Authentication.AuthenticatedAs.diaryEntries.Count() == 0)
        {
            <center><h3>No Entries? @Html.ActionLink("Create one!", "createEntry", "Entry")</h3></center>
        }


    </div>
</div>

@foreach (var entry in entries)
{
    <div class="modal fade" id="@string.Concat("EntryForm", entry.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@entry.title</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="Entry/updateValues">
                        Title: <input class="form-field form-control" type="text" name="title" value="@entry.title" />
                        <input type="hidden" name="id" value="@entry.id" />
                        Content: <textarea rows="30" class="form-field form-control" name="content">@entry.content</textarea>
                        <input type="submit" value="Save!" class="btn btn-info" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}